/*
-------------- Basic Reset Css ----------
 */

* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* -------- ----------- */

.page-header {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  font-size: 40px;
}

.lead {
  margin-bottom: 1.5em;
  font-size: 20px;
}

.recipe-form {
  margin-top: 1em;
}

#recipe-row {
  margin-top: 2em;
  margin-bottom: 2em;
}

#submit-recipe-button {
  margin-top: 1em;
}

.form-control {
  margin-top: 1em;
}

#recipe-card {
  margin-top: 10em;
}
