<div class="row" id="recipe-card">
  <div class="col-lg-6 col-sm-12" id="recipe-image" [style.backgroundImage]="'url('+ recipe.imageUrl +')'">
  </div>
  <div class="col-lg-6 col-sm-12" id="recipe-info">
    <h4 class="category">Low Carb</h4>
    <h1 class="title">{{ recipe.title }}</h1>
    <h3 class="description">{{ recipe.description }}</h3>
    <div class="row" id="quick-stats">
      <div class="col-lg-4">
        <h2 class="recipe-value">{{ recipe.prepTime }}</h2>
        <h4 class="recipe-unit">mins</h4>
      </div>
      <div class="col-lg-4">
        <h2 class="recipe-value">{{ recipe.nutrition.calories }}</h2>
        <h4 class="recipe-unit">calories</h4>
      </div>
      <div class="col-lg-4">
        <h2 class="recipe-value">{{ recipe.ingredients.length }}</h2>
        <h4 class="recipe-unit">ingredients</h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <h3 class="recipe-rating">{{ recipe.ratings.voteValue }} rating</h3>
        <h4 class="numVotes">{{ recipe.ratings.voteCount }} number of votes</h4>
      </div>
    </div>
    <div class="row" id="button-row">
      <div class="col-lg-6">
        <a class="button green" (click)="goToRecipePage(recipe._id)">View Recipe</a>
      </div>
      <div class="col-lg-6">
        <button class="button blue">Bookmark</button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="recipe-card">
  <div class="main">
    <div [ngClass]="{'custom-modal': true, 'custom-modal-active': modalActive}">
      <div class="cover-photo">
        <div class="cover-photo-image-container">
          <img src="{{ recipe.imageUrl }}" alt="{{ recipe.title }}" />
        </div>
        <div class="time-container">
          <div class="time-circle">
            <h3>{{ recipe.prepTime + recipe.cookTime }}</h3>
            <span>MINS</span>
          </div>
          <div class="bookmark-icon">
            <a href="#">  <i class="material-icons">&#xE8E7;</i></a>
          </div>
        </div>
        <div class="servings-container">
          <h3>{{ recipe.servings }}</h3>
          <span>SERVINGS</span>
        </div>
        <div class="details-container">
          <h3>{{ recipe.title }}</h3>
          <p>{{ recipe.description }}</p>
        </div>
      </div>
      <div class="ingredients-directions-container">
        <div class="hidden-container">
          <div class="tabs-container">
            <ul>
              <li><a href="#"><h4>INGREDIENTS</h4></a></li>
              <li><a href="#"><h4>PREPARATION</h4></a></li>
            </ul>
          </div>
          <div class="directions-container">

            <div class="cont_title_preparation">
              <p>STEP 1</p>
            </div>
            <div class="cont_info_preparation">
              <p>Heat oven to 375 degress</p>
            </div>
          </div>
          <div class="directions-container">
            <div class="cont_title_preparation">
              <p>STEP 2</p>
            </div>
            <div class="cont_info_preparation">
              <p>Heat oil in a large skillet over medium-low head. Add onion and bell papper. Cook gently until very soft, about 20 minutes. Add garlic and cook until tender, 1 to 2 minutes; stir in cumin, paprika and cook 1 minute. Pour in tomatoes and
                season with 3/4 teaspoon salt and 1/4 teaspoon pepper;</p>
            </div>

          </div>
        </div>
        <div class="more-steps-button">
          <a href="#"><i class="material-icons">&#xE313;</i></a>
        </div>
      </div>
      <div class="expand-card-container">
        <button (click)="toggleOpenModal()"><i class="material-icons">&#xE314;</i></button>
      </div>

    </div>
  </div>
</div> -->
