<h2 class="page-header">Dashboard</h2>
<p>Welcome to your Dashboard!</p>
<!-- <form (submit)="onPostTweet(); tweetForm.reset()" #tweetForm="ngForm">
  <div class="input-group">
    <input type="text" [(ngModel)]="currentContent" name="currentContent" class="form-control" placeholder="Add post...">
    <span class="input-group-btn">
      <input type="submit" class="btn btn-default" value="Done">
    </span>
  </div>
</form> -->
<ul class="list-group">
  <li *ngFor="let recipe of recipes; let i = index" class="list-group-item">
    {{ recipe.title }} <br /> {{ recipe.description }}
  </li>
</ul>
